<h1>Create new task</h1>
<%= form_with model: @task, local: true do |form| %>
  <div class="form-group">
    <%= form.label :type, 'Task type' %>
    <%= form.select :type, @task.class::TYPES, {}, class: 'form-control' %>
  </div>
  <%= form.submit %>
  <%= link_to 'Task list', tasks_path %>
<% end %>
